# File sistem macOS dan Windows
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Folder editor kode (VS Code, dll)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File Log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependensi (Jika suatu saat menggunakan npm/node)
node_modules/
